.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 48px;
  border-radius: 100px;
  border: none;
  outline: none;
  gap: 4px;
  padding: 0px;
}

.button:hover {
  background-color: grey;
}

.icon {
  height: 24px;
  width: 24px;
  fill: none;
}
